POSTGRES_DB=add_ceiot_clase_01
POSTGRES_USER=bd_user
POSTGRES_PASSWORD=bd_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
BACKEND_PORT=8000
PGADMIN_USER=pgadmin_user@pgadmin.com
PGADMIN_PASSWORD=pgadmin_password
