POSTGRES_DB=ceiot_class4
POSTGRES_USER=ceiot
POSTGRES_PASSWORD=ceiot
POSTGRES_BIND_HOST=127.0.0.1
POSTGRES_HOST_PORT=5435
PGADMIN_DEFAULT_EMAIL=student@example.edu
PGADMIN_DEFAULT_PASSWORD=class4-local
PGADMIN_BIND_HOST=127.0.0.1
PGADMIN_HOST_PORT=5052